.section {
  float: left;
  border-style: solid;
  border-color: white;
  width: 22.5%;
  border-width: 1px;
  height: 100%;
  padding: 10px;
}

.name {
  margin: 5px;
  float: left;
  width: 50%;
}

.score {
  margin: 5px;
  float: left;
  width: 15%;
}

.item {
  margin: 5px;
  float: left;
}

.citizen {
  display: flex;
  overflow: hidden;
}
