.container {
  display: flex;
  padding: 10px;
}

.label {
  padding-right: 10px;
}

.textField {
  padding-right: 10px;
}

.radioNoWrap {
  white-space: nowrap;
}

.radioOption {
  margin: 5px;
}

.radioToggle {
  margin: 5px;
}
