.container {
  display: flex;
  padding: 10px;
}

.label {
  padding-right: 10px;
}

.checkBox {
  padding-right: 10px;
  vertical-align: middle;
}

.textField {
  padding-right: 10px;
}

.radioNoWrap {
  border-style: solid;
  border-color: white;
  width: fit-content;
  border-width: 1px;
}

.radioOption {
  margin: 5px;
}

.radioToggle {
  margin: 5px;
}

.left {
  float: left;
}
